<configuration>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/tictactoe.log</file>
    <encoder>
      <pattern>[%thread] %logger{15} - %msg %n</pattern>
    </encoder>
  </appender>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>true</withJansi>
    <encoder>
      <pattern>[%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
  <logger name="org.fusesource.scalate.util" level="OFF"/>
</configuration>
